
@model List<Organisation.Web.ViewModels.TeamMemberViewModel>
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col col-md-2">
                <div class="text-center thumbnail " style="border-color:#b1ca41;border-width:2px" >
                    <a href="#" title="@item.Name (@item.Designation)" data-toggle="popover" data-trigger="hover" data-content="@item.BriefDescription">
                        <img src="../../images/@item.Image" height="150px" class="thumbnail zoom" onclick="location.href = '@(Url.Action("CreateTeamMember", "Home", new { id = item.Id,mode=0 }))'" />
                        </a>
                        
                        
                        <label class="text-success">@item.Name</label><br />
                        <label onclick="location.href = '@(Url.Action("CreateTeamMember", "Home", new { id = item.Id , mode=1}))'" title="Edit"
                               id="@item.Id" type="button" class="btn btn-success btn-circle btn-smm zoom">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </label>

                        <lable id="@item.Id" type="button" class="btn btn-danger btn-circle btn-smm zoom" title="Delete"
                               onclick="location.href = '@(Url.Action("Delete", "Home", new { id = item.Id }))'">
                            <i class="glyphicon glyphicon-trash"></i>
                        </lable>


</div>
            </div>
        }
    </div>
